@import "node_modules/bootstrap/scss/bootstrap";

$primary-color: #ff725e;
$primary-shadow :#f79d929e;
$primary-lighter-color: #f8afa6;
$primary-darker-color:#fa523c;
$bright-text-color: #fff;
$dark-test-color: #000;

// body{
//  // background-color: $primary-lighter-color;
// }

.btn-primary {
  color: $bright-text-color;
  background-color: $primary-color;
  border-color: $primary-color; 
  &:hover {
    color: $bright-text-color;
    background-color: $primary-darker-color;
    border-color: $primary-darker-color; 
    //box-shadow: 0 0 0 0.2rem $primary-shadow;
  }
  &:focus, &.focus {
    color: $bright-text-color;
    background-color: $primary-darker-color;
    border-color: $primary-darker-color;
    box-shadow: 0 0 0 0.2rem $primary-shadow; 
  }
}

.hidden-text{
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute!important;
  border: 0!important;
  padding: 0!important;
  margin: 0!important;
  clip: rect(1px,1px,1px,1px);
}


// $color: #111;
// $primary: #FFAB9D;

html, body{
  height: 100%;
}

body{
  font-family: Avenir, sans-serif;
  color: $dark-test-color;
}

// Banner styling

.banner{
  position: relative;
  display: block;
  .top-corner-shape{
    // position: absolute;
    // top: -30px;
    // right: -30px;
    // width: 85%;
    margin: -90px -90px auto auto;
  }

  .zahra-at-desk{
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -35%);
  }
}


// Hire me button styling
.hire-me{
  margin-top: 50px;
a{
  text-decoration: none;
  color: inherit;
  &:hover{
    text-decoration: none;
    color: inherit;
  }
}

.cta{
  position: relative;
  //margin: auto;
  padding: 19px 30px;
  transition: all .2s ease;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 28px;
    background: rgba($primary-color,.4);
    width: 56px;
    height: 56px;
    transition: all .3s ease;
  }
  span{
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: .25em;
    text-transform: uppercase;
    vertical-align: middle;
  }
  svg{
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: $dark-test-color;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all .3s ease;
  }
  &:hover{
    &:before{
      width: 100%;
      background: rgba($primary-color,.8);
    }
    svg{
      transform: translateX(0);
    }
  }
  &:active{
    &:before{
    //-webkit-transform: scale(0.96);	/* Safari & Chrome */
    //-o-transform: scale(0.96);	/* Opera */
    //-moz-transform: scale(0.96); /* Firefox 4 */
    transform: scale(0.90);
    }
  }
}
}

